{%extends "thenation/basic.html"%}

{% block title%} Articals{%endblock%}

{% block body%}
<h1 class="center " style="text-align:center;margin-top:80px;"> Write Artical <span>But Read Carefully Before Submiting</span></h1>

<div class=" container mt-5 mb-2">
    <fieldset disabled>
        <div class="form-group">
          
          <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user.username}}">
        </div>
        </fieldset> 
        <form method="POST" action="/accounts/articals/" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-row">
                  
              {{form}}
            <button type="submit" class="btn btn-primary mt-2" id="done" value="Submit" onclick="alerts()">Submit</button>
        </form>

</div>

{%endblock%}

{%block js%}
<script>
function alerts{
    document.getElementById('done').innerHTML=  alert("Form is submited");
    

}

</script>

{%endblock%}