{%extends 'thenation/basic.html'%}
{%block title%}About page{%endblock%}
{%block css%}
<style>
    .footer-distributed{
        
        clear: both;
  
  float: left;
   padding: 0px;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  
    }
</style>
{%endblock%}
{% load static %}
{%block body%}

<div class="container mt-5 m">
    
    <h1 style="margin-top: 80px;">About</h1>
<p style="margin-bottom: 80%;">
The Fact's 24 is a news, analysis, opinion and knowledge venture, launched in March 2015 .
It is sharply focused on politics and policy, government and governance. Its leadership team includes India’s most experienced and
respected journalists with proven track records in the finest news organisations. Read this letter from the Editor-in-Chief on why 
The Fact's 24, and what it stands for.
    
We are headquartered in Nagpur, and are in the process of building a network across India because we believe in investing in high-quality
investigative and questioning journalism. Please </p>
</div>

    {%endblock%}